// Content of index.html:
{{define "body"}}
<body>
	<div class="container">
		<div class="bs-callout bs-callout-warning">
			<h4>Neque porro quisquam</h4>
			<p>SProin sit amet sodales urna. Fusce mauris ante, sodales quis sem eget, condimentum lobortis mi. Suspendisse sagittis arcu eu magna tempor sodales. Nunc pharetra lorem nec magna auctor, sit amet tempus dui feugiat. Vivamus non sodales eros. Fusce sit amet urna volutpat, cursus justo vitae, aliquet ligula.</p>
			<ol type="a">
				<li>Nulla elementum sem consectetur, sodales lorem non, mollis ligula.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href=".#">dui eget lacus sollicitudin</a>.</li>
				<li>Vestibulum lacinia velit ac lectus venenatis, sed ullamcorper velit elementum. <code>dapibus ipsum </code> Sed posuere turpis eget tellus vehicula, eget fermentum est tincidunt.</li>
			</ol>
		</div>
		<div>
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			</blockquote>
		</div>
	</div>
</body>
{{end}}